{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<h1>Search recipes by ingredients</h1>
<div class="col-md-12 text-center">
  <form method="get">
    <fieldset class="form-group">

      {{form| crispy }}

    </fieldset>
    <button type="submit" class="btn btn-outline-info" >Search</button>
  </form>

<br>
<br>
{% if search_result %}
<div>
  {% for result in search_result %}
    <h5>

      <p>
        {{ result.title }}
      </p>

      <p>
      <a href={% url 'blog-info'  result.id %}>
      <img src="https://spoonacular.com/recipeImages/{{result.id}}-240x150.jpg"/>
      </a>
      Used ingredients

      {{result.usedIngredientCount}}

      </p>
    <p>Preparation time
    {{result.readyInMinutes}} minutes</p>
  </h5>

{% endfor %}

</div>
{% endif %}
{% endblock %}
